html,body,p,div,ol,ul {
    margin: 0;
    padding:0;
}
body {
    background: url(images/lightgreen.jpg) top right no-repeat;
    color: white;
    font-family: sans-serif;
    background-color: black;
}
ul li {
    display: inline;
    font-size: 36px;
    padding: 24px;
}
h1 {
    color: white;
    font-size: 100px;
    text-align: center;
    padding-top: 80px;
    margin-bottom: 20px;
}
h3 {
    color: white;
    font-size: 30px;
    text-align: center;
    margin-top: 30px;
}
.list {
    text-align: center;
    background-color: #505050;
    padding: 15px;
    height: 40px;
}